## 1. 모듈삽입

In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import warnings 
warnings.filterwarnings("ignore")

## 2. 파일 불러오기

In [7]:
at_cloth = pd.read_csv('E:\Project\list_attr_cloth.csv')
at_img = pd.read_csv('E:\Project\list_attr_img.csv')
ca_cloth = pd.read_csv('E:\Project\list_category_cloth.csv')
ca_img = pd.read_csv('E:\Project\list_category_img.csv')

In [8]:
display(at_cloth)
display(at_img)
display(ca_cloth)
display(at_img)

,attribute_name attribute_type,attribute_name,attribute_type
0,a-line 3,a-line,3
1,abstract 1,abstract,1
2,abstract chevron 1,abstract chevron,1
3,abstract chevron print 1,abstract chevron print,1
4,abstract diamond 1,abstract diamond,1
...,...,...,...
995,zip-pocket 4,zip-pocket,4
996,zip-up 4,zip-up,4
997,zipped 4,zipped,4
998,zipper 4,zipper,4
999,zippered 4,zippered,4

,image_name attribute_labels,image_name,attribute_labels
0,img/Sheer_Pleated-Front_Blouse/img_00000001.jp...,img/Sheer_Pleated-Front_Blouse/img_00000001.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
1,img/Sheer_Pleated-Front_Blouse/img_00000002.jp...,img/Sheer_Pleated-Front_Blouse/img_00000002.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
2,img/Sheer_Pleated-Front_Blouse/img_00000003.jp...,img/Sheer_Pleated-Front_Blouse/img_00000003.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
3,img/Sheer_Pleated-Front_Blouse/img_00000004.jp...,img/Sheer_Pleated-Front_Blouse/img_00000004.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
4,img/Sheer_Pleated-Front_Blouse/img_00000005.jp...,img/Sheer_Pleated-Front_Blouse/img_00000005.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
...,...,...,...
289103,img/Paisley_Print_Babydoll_Dress/img_00000050....,img/Paisley_Print_Babydoll_Dress/img_00000050....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289104,img/Paisley_Print_Babydoll_Dress/img_00000051....,img/Paisley_Print_Babydoll_Dress/img_00000051....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289105,img/Paisley_Print_Babydoll_Dress/img_00000052....,img/Paisley_Print_Babydoll_Dress/img_00000052....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289106,img/Paisley_Print_Babydoll_Dress/img_00000053....,img/Paisley_Print_Babydoll_Dress/img_00000053....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289107,img/Paisley_Print_Babydoll_Dress/img_00000054....,img/Paisley_Print_Babydoll_Dress/img_00000054....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...

   category_name  category_type    category_name  category_type
0              Anorak         1  Anorak                       1
1              Blazer         1  Blazer                       1
2              Blouse         1  Blouse                       1
3              Bomber         1  Bomber                       1
4              Button-Down    1  Button-Down                  1
5              Cardigan       1  Cardigan                     1
6              Flannel        1  Flannel                      1
7              Halter         1  Halter                       1
8              Henley         1  Henley                       1
9              Hoodie         1  Hoodie                       1
10             Jacket         1  Jacket                       1
11             Jersey         1  Jersey                       1
12             Parka          1  Parka                        1
13             Peacoat        1  Peacoat                      1
14             Poncho         1  Poncho                       1
15             Sweater        1  Sweater                      1
16             Tank           1  Tank                         1
17             Tee            1  Tee                          1
18             Top            1  Top                          1
19             Turtleneck     1  Turtleneck                   1
20             Capris         2  Capris                       2
21             Chinos         2  Chinos                       2
22             Culottes       2  Culottes                     2
23             Cutoffs        2  Cutoffs                      2
24             Gauchos        2  Gauchos                      2
25             Jeans          2  Jeans                        2
26             Jeggings       2  Jeggings                     2
27             Jodhpurs       2  Jodhpurs                     2
28             Joggers        2  Joggers                      2
29             Leggings       2  Leggings                     2
30             Sarong         2  Sarong                       2
31             Shorts         2  Shorts                       2
32             Skirt          2  Skirt                        2
33             Sweatpants     2  Sweatpants                   2
34             Sweatshorts    2  Sweatshorts                  2
35             Trunks         2  Trunks                       2
36             Caftan         3  Caftan                       3
37             Cape           3  Cape                         3
38             Coat           3  Coat                         3
39             Coverup        3  Coverup                      3
40             Dress          3  Dress                        3
41             Jumpsuit       3  Jumpsuit                     3
42             Kaftan         3  Kaftan                       3
43             Kimono         3  Kimono                       3
44             Nightdress     3  Nightdress                   3
45             Onesie         3  Onesie                       3
46             Robe           3  Robe                         3
47             Romper         3  Romper                       3
48             Shirtdress     3  Shirtdress                   3
49             Sundress       3  Sundress                     3

,image_name attribute_labels,image_name,attribute_labels
0,img/Sheer_Pleated-Front_Blouse/img_00000001.jp...,img/Sheer_Pleated-Front_Blouse/img_00000001.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
1,img/Sheer_Pleated-Front_Blouse/img_00000002.jp...,img/Sheer_Pleated-Front_Blouse/img_00000002.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
2,img/Sheer_Pleated-Front_Blouse/img_00000003.jp...,img/Sheer_Pleated-Front_Blouse/img_00000003.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
3,img/Sheer_Pleated-Front_Blouse/img_00000004.jp...,img/Sheer_Pleated-Front_Blouse/img_00000004.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
4,img/Sheer_Pleated-Front_Blouse/img_00000005.jp...,img/Sheer_Pleated-Front_Blouse/img_00000005.jp...,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
...,...,...,...
289103,img/Paisley_Print_Babydoll_Dress/img_00000050....,img/Paisley_Print_Babydoll_Dress/img_00000050....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289104,img/Paisley_Print_Babydoll_Dress/img_00000051....,img/Paisley_Print_Babydoll_Dress/img_00000051....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289105,img/Paisley_Print_Babydoll_Dress/img_00000052....,img/Paisley_Print_Babydoll_Dress/img_00000052....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289106,img/Paisley_Print_Babydoll_Dress/img_00000053....,img/Paisley_Print_Babydoll_Dress/img_00000053....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
289107,img/Paisley_Print_Babydoll_Dress/img_00000054....,img/Paisley_Print_Babydoll_Dress/img_00000054....,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...

## 3. attribute 파일 2개: 불필요 col 제거, 공백 제거, 파일로 저장

In [9]:
# 공백 제거 함수 생성

def remove(x):
    cols = x.columns
    print(cols)
    for col in cols:
        for _ in range(x.shape[0]):
            if type(x[col][_]) == str:
                x[col][_] = x[col][_].strip()

In [12]:
# 1. at_cloth 


# 불필요 col 제거
at_cloth = at_cloth.drop('attribute_name  attribute_type', axis=1)

# 공백제거
remove(at_cloth)

# 확인
at_cloth.columns

Index(['attribute_name', 'attribute_type'], dtype='object')

Index(['attribute_name', 'attribute_type'], dtype='object')

In [13]:
# 파일로 저장

at_cloth.to_csv('attr_cloth_final.csv', header=True, index=False)

In [14]:
# 2. at_img


# 불필요 col 제거
at_img = at_img.drop('image_name  attribute_labels', axis=1)

# 공백제거
remove(at_img)

# 확인
at_img.columns

Index(['image_name', 'attribute_labels'], dtype='object')

Index(['image_name', 'attribute_labels'], dtype='object')

In [15]:
# 파일로 저장

at_img.to_csv('attr_img_final.csv', header=True, index=False)

## 4. category 파일 2개: 불필요 col 제거, 공백제거, 파일로 저장

In [16]:
# 1. ca_cloth


# 불필요 col 제거
# ca_cloth = ca_cloth.drop('category_name  category_type', axis=1)

# 공백제거
remove(ca_cloth)

# 확인
# ca_cloth.columns

Index(['category_name  category_type', 'category_name', 'category_type'], dtype='object')

In [17]:
# 파일로 저장

ca_cloth.to_csv('category_cloth_final.csv', header=True, index=False)

In [18]:
# 2. ca_img


# 불필요 col 제거
# ca_img = ca_img.drop('image_name  category_label', axis=1)

# 공백제거
remove(ca_img)

# 확인
ca_img.columns

Index(['image_name  category_label', 'image_name', 'category_label'], dtype='object')

Index(['image_name  category_label', 'image_name', 'category_label'], dtype='object')

In [19]:
# 파일로 저장

ca_img.to_csv('category_img_final.csv', header=True, index=False)

## 5. 데이터프레임 병합: category

In [20]:
# ca_img 데이터프레임에 category_name, category_type 값을 가져오기 위해 column 생성 및 임의 값 설정

ca_img['category_name'] = 1
ca_img['category_type'] = 1

In [21]:
# ca_img 데이터프레임에 category_name, category_type 값 가져오기

for i in range(ca_img.shape[0]):
    k = ca_img['category_label'][i]
    ca_img['category_name'][i] = ca_cloth['category_name'][k-1]
    ca_img['category_type'][i] = ca_cloth['category_type'][k-1]

In [22]:
# 파일로 저장

ca_img.to_csv('category_total.csv', header=True, index=False)

## 6. 데이터프레임 병합: category_total에 image_name별 attribution_labels 병합

In [23]:
# category_total 데이터프레임에 image_name별 attribution_labels 값 병합

total_data = pd.merge(ca_img, at_img, on='image_name')

In [24]:
# 파일로 저장

total_data.to_csv('total_data.csv', header=True, index=False)