### 필요 모듈 import

In [1]:
import googletrans
from googletrans import Translator
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

### ZC05MMT04 테이블 생성

In [51]:
df01 = pd.read_csv("ZC05MMT001.csv")
display(df01.head())

df02 = pd.read_csv("ZC05MMT002.csv")
display(df02.head())

df04 = pd.read_csv("ZC05MMT004 layout.csv")
display(df04.head())

,MANDT,EBELN,MATNR,EBELP,MAKTX,MTART,WERKS,MEINS,NETPR,BRTWR,...,TELF1,BEDAT,WEMNG,MENGE,NAME1,LAND1,ORT01,EINDT,BLDAT,MBRSH
0,400,7900000001,CC-A08-F01,1,Cross Racer 3.0,ROH,1710,EA,299,297505,...,(86216) 227-0403,2016-01-01,995,995,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,2016-01-10,2016-01-10,1
1,400,7900000001,CC-A08-R01,2,Bike Paint,ROH,1710,EA,329,332948,...,(86216) 227-0403,2016-01-01,1012,1012,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,2016-01-10,2016-01-10,1
2,400,7900000001,CC-A08-R02,3,USB Adapter USB-901,ROH,1710,EA,287,299628,...,(86216) 227-0403,2016-01-01,970,1044,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,2016-01-10,2016-01-12,1
3,400,7900000001,CC-A08-R03,4,1ortable DVD Player PDP-121,ROH,1710,EA,350,364350,...,(86216) 227-0403,2016-01-01,906,1041,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,2016-01-10,2016-01-10,1
4,400,7900000001,CC-C07-F02,5,Headlight,ROH,1710,EA,331,327690,...,(86216) 227-0403,2016-01-01,990,990,Inlandslieferant DE (Ariba Netzwerk,DE,Bremen,2016-01-10,2016-01-26,1

,LIFNR,MATNR,MTART,MAKTX,NAME1,MBRSH,TPPRICE,TPAMOUNT,PDATE,PPRICE,MEINS,WAERS
0,10300080,CC-A08-F01,ROH,Cross Racer 3.0,Inlandslieferant DE (Ariba Netzwerk,1,289358,995,2016-01-01,299,EA,USD
1,10300080,CC-A08-R01,ROH,Bike Paint,Inlandslieferant DE (Ariba Netzwerk,1,308865,1012,2016-01-01,336,EA,USD
2,10300080,CC-A08-R02,ROH,USB Adapter USB-901,Inlandslieferant DE (Ariba Netzwerk,1,315766,1044,2016-01-01,287,EA,USD
3,10300080,CC-A08-R03,ROH,1ortable DVD Player PDP-121,Inlandslieferant DE (Ariba Netzwerk,1,368693,1050,2016-01-01,350,EA,USD
4,10300080,CC-C07-F02,ROH,Headlight,Inlandslieferant DE (Ariba Netzwerk,1,308256,990,2016-01-01,331,EA,USD

Empty DataFrame
Columns: [LIFNR, NAME1, LAND1, ORT01, COMT]
Index: []

In [53]:
# 공급업체 이름 추가 

sourceList = df02['LIFNR']

if len(df04) != 3600:
    for _ in range(len(sourceList)):
        df04 = df04.append({'LIFNR' : sourceList[_]}, ignore_index=True)
else:
    print(f'이미 공급업체명이 추가됬습니다. 공급업체 리스트는 총 {len(df04)}개 입니다.')
    display(df04.head())

In [55]:
# 공급업체 주소 정보 추가

for _ in range(len(df04)):
    var1 = df04['LIFNR'][_]
    i = 0
    while True:
        if df01['LIFNR'][i] == var1:
            df04['NAME1'][_] = df01['NAME1'][i]
            df04['LAND1'][_] = df01['LAND1'][i]
            df04['ORT01'][_] = df01['ORT01'][i]
            break
        else:
            i+=1

### 코멘트 파일 불러오기 및 코멘트 정보 추가

In [59]:
cmt = pd.read_csv("comment.csv")
display(cmt.head())
print(f'코멘트 갯수는 총 {len(cmt)}개 입니다.')       #90개 넣어둠

                                                  en
0  Had all the parts, with power tools it took ab...
1  Delivered fast. Takes about 6hrs to assemble b...
2  Absolutely amazing! I had the first Generation...
3  They were absolutely great love everything abo...
4  I enjoy using my airpods pros they have great ...

코멘트 갯수는 총 90개 입니다.

In [61]:
# table04에 코멘트 추가

i = 0
for _ in range(len(df04)):
    if i < 90:
        df04['COMT'][_] = cmt['en'][i]
        i += 1
    elif i == 90:
        i = 0
        df04['COMT'][_] = cmt['en'][0]
        i += 1

### 파일로 저장

In [62]:
result04 = pd.DataFrame(df04)

# xlsx 파일로 저장
result04.to_excel(excel_writer='ZC05MMT004.xlsx', header=True, index=False)